[
    {
        "data": [
            {
                "allowSdrSoftwareBrightness": false,
                "autoRotation": "InTabletMode",
                "brightness": {{ template "json-use-value-or-default" (list .chezmoi.targetFile ".[] | .data[] | select (.edidHash == \"31bdbb74bf929858cda32498d97feaf6\") | .brightness" 0.5 4 16) }},
                "colorPowerTradeoff": "PreferEfficiency",
                "colorProfileSource": "sRGB",
                "connectorName": "DP-1",
                "edidHash": "31bdbb74bf929858cda32498d97feaf6",
                "edidIdentifier": "AUS 10122 53171 9 2020 0",
                "highDynamicRange": false,
                "iccProfilePath": "",
                "mode": {{ template "json-use-value-or-default" (list .chezmoi.targetFile ".[] | .data[] | select (.edidHash == \"31bdbb74bf929858cda32498d97feaf6\") | .mode" (dict "height" 1440 "refreshRate" 74925 "width" 2560) 4 16) }},
                "overscan": 0,
                "rgbRange": "Automatic",
                "scale": {{ template "json-use-value-or-default" (list .chezmoi.targetFile ".[] | .data[] | select (.edidHash == \"31bdbb74bf929858cda32498d97feaf6\") | .scale" 1 4 16) }},
                "sdrBrightness": 200,
                "sdrGamutWideness": 0,
                "transform": "Normal",
                "vrrPolicy": "Automatic",
                "wideColorGamut": false
            }
        ],
        "name": "outputs"
    },
    {
        "data": [
            {
                "lidClosed": false,
                "outputs": [
                    {
                        "enabled": true,
                        "outputIndex": 0,
                        "position": {
                            "x": 0,
                            "y": 0
                        },
                        "priority": 0
                    }
                ]
            }
        ],
        "name": "setups"
    }
]
