[ImageSave]
lastImageSaveLocation={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".ImageSave | .lastImageSaveLocation" "") }}
translatedScreenshotsFolder=Screenshots

[VideoSave]
translatedScreencastsFolder=Screencasts
