{{- /* The whole section disappears when not muted, and GlobalMuteDevices seems optional. */ -}}
{{- /* Proper newline insertion is a little tricky here - the final newline should only be added if there is other content in the file. */ -}}
{{- with includeTemplate "ini-use-value-or-default" (list $.chezmoi.targetFile ".General | .GlobalMute" "") -}}
[General]
GlobalMute={{ . }}
{{- with includeTemplate "ini-use-value-or-default" (list $.chezmoi.targetFile ".General | .GlobalMuteDevices" "") }}
GlobalMuteDevices={{ . }}
{{- end }}
{{ end -}}
