{{- /* Each option disappears if empty (and whole sections disappear if they have no options set). GlobalMuteDevices seems optional when muted. */ -}}
[General]
AudioFeedback=false
{{- with includeTemplate "ini-use-value-or-default" (list $.chezmoi.targetFile ".General | .GlobalMute" "") }}
GlobalMute={{ . }}
{{- end -}}
{{- with includeTemplate "ini-use-value-or-default" (list $.chezmoi.targetFile ".General | .GlobalMuteDevices" "") }}
GlobalMuteDevices={{ . }}
{{- end }}
VolumeStep=2
