[FileDialog]
history={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".FileDialog | .history" "@Invalid()") }}
lastVisited={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".FileDialog | .lastVisited" (dict "scheme" "file" "path" (print .chezmoi.homeDir "/") | urlJoin)) }}
qtVersion=6.9.1
viewMode=Detail
