[ca/desrt/dconf-editor]
restore-view=false
saved-pathbar-path='{{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"ca/desrt/dconf-editor\" | .\"saved-pathbar-path\"" "/") }}'
saved-view='{{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"ca/desrt/dconf-editor\" | .\"saved-view\"" "/") }}'
show-warning=false
small-bookmarks-rows=true
small-keys-list-rows=true
use-shortpaths=true
window-height={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"ca/desrt/dconf-editor\" | .\"window-height\"" 500) }}
window-is-maximized={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"ca/desrt/dconf-editor\" | .\"window-is-maximized\"" "false") }}
window-width={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"ca/desrt/dconf-editor\" | .\"window-width\"" 540) }}

[com/github/wwmm/easyeffects]
bypass=false
last-loaded-output-preset='{{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"com/github/wwmm/easyeffects\" | .\"last-loaded-output-preset\"" "") }}'
show-native-plugin-ui=true
window-fullscreen={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"com/github/wwmm/easyeffects\" | .\"window-fullscreen\"" "false") }}
window-height={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"com/github/wwmm/easyeffects\" | .\"window-height\"" 800) }}
window-maximized={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"com/github/wwmm/easyeffects\" | .\"window-maximized\"" "false") }}
window-width={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"com/github/wwmm/easyeffects\" | .\"window-width\"" 1200) }}

[com/github/wwmm/easyeffects/spectrum]
color=(1.0, 1.0, 1.0, 1.0)
color-axis-labels=(1.0, 1.0, 1.0, 1.0)

[com/github/wwmm/easyeffects/streaminputs]
input-device='{{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"com/github/wwmm/easyeffects/streaminputs\" | .\"input-device\"" "") }}'
use-default-input-device=true

[com/github/wwmm/easyeffects/streamoutputs]
blocklist=@as []
output-device='{{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"com/github/wwmm/easyeffects/streamoutputs\" | .\"output-device\"" "") }}'
plugins=['filter#0', 'bass_enhancer#0', 'convolver#0', 'multiband_compressor#0', 'stereo_tools#0', 'limiter#0']
show-blocklisted-apps=false
show-plugins-list=true

[com/github/wwmm/easyeffects/streamoutputs/bassenhancer/0]
amount=4.0
blend=0.0
bypass=true
floor=10.0
floor-active=true
harmonics=10.0
listen=false
scope=200.0

[com/github/wwmm/easyeffects/streamoutputs/convolver/0]
bypass=false
kernel-name='IR_22ms_27dB_5t_15s_0c'
output-gain=6.0

[com/github/wwmm/easyeffects/streamoutputs/filter/0]
balance=0.0
bypass=false
equal-mode='IIR'
frequency=60.0
gain=0.0
mode='RLC (BT)'
quality=16.0
slope='x16'
type='High-pass'
width=1.0

[com/github/wwmm/easyeffects/streamoutputs/limiter/0]
attack=2.0
bypass=false
lookahead=4.0
oversampling='Half x4(2L)'
release=8.0
sidechain-input-device='alsa_input.pci-0000_c1_00.6.analog-stereo'

[com/github/wwmm/easyeffects/streamoutputs/multibandcompressor/0]
attack-threshold0=-16.0
attack-threshold1=-24.0
attack-threshold2=-24.0
attack-threshold3=-24.0
attack-time0=150.0
attack-time1=150.0
attack-time2=100.0
attack-time3=80.0
bypass=false
knee0=-12.0
knee1=-9.0
knee2=-9.0
knee3=-9.0
makeup1=5.0
makeup2=5.0
makeup3=5.0
ratio0=5.0
ratio1=3.0
ratio2=3.0
ratio3=4.0
release-time0=300.0
release-time1=200.0
release-time2=150.0
release-time3=120.0
sidechain-input-device='alsa_input.pci-0000_c1_00.6.analog-stereo'
split-frequency1=250.0
split-frequency2=1250.0
split-frequency3=5000.0

[com/github/wwmm/easyeffects/streamoutputs/stereotools/0]
bypass=false
stereo-base=0.30000000000000004

[org/gnome/desktop/a11y/applications]
screen-reader-enabled=false

[org/gnome/desktop/interface]
accent-color='red'
color-scheme='default'
cursor-blink=true
cursor-blink-time=1000
cursor-size=24
cursor-theme='breeze_cursors'
enable-animations=true
font-antialiasing='rgba'
font-hinting='full'
font-name='Noto Sans,  10'
gtk-theme='Breeze'
icon-theme='breeze'
scaling-factor=uint32 1
text-scaling-factor=1.0
toolbar-style='text'

[org/gnome/desktop/sound]
event-sounds=false
theme-name='ocean'

[org/gnome/desktop/wm/preferences]
button-layout='icon:minimize,maximize,close'

[org/gtk/settings/file-chooser]
clock-format='12h'
date-format='with-time'
location-mode='path-bar'
show-hidden=true
show-size-column=true
show-type-column=true
sidebar-width={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"org/gtk/settings/file-chooser\" | .\"sidebar-width\"" 160) }}
sort-column='name'
sort-directories-first=true
sort-order='ascending'
startup-mode='cwd'
type-format='category'
window-position={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"org/gtk/settings/file-chooser\" | .\"window-position\"" 0) }}
window-size={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"org/gtk/settings/file-chooser\" | .\"window-size\"" 0) }}

[org/virt-manager/virt-manager]
manager-window-height={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"org/virt-manager/virt-manager\" | .\"manager-window-height\"" 550) }}
manager-window-width={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"org/virt-manager/virt-manager\" | .\"manager-window-width\"" 550) }}
xmleditor-enabled=true

[org/virt-manager/virt-manager/confirm]
delete-storage=true
forcepoweroff=true
unapplied-dev=true

[org/virt-manager/virt-manager/connections]
autoconnect=['qemu:///system', 'lxc:///']
uris=['lxc:///', 'qemu:///system']

[org/virt-manager/virt-manager/conns/qemu:system]
window-size={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"org/virt-manager/virt-manager/conns/qemu:system\" | .\"window-size\"" "(800, 600)") }}

[org/virt-manager/virt-manager/console]
resize-guest=1

[org/virt-manager/virt-manager/details]
show-toolbar=true

[org/virt-manager/virt-manager/new-vm]
graphics-type='system'

[org/virt-manager/virt-manager/stats]
enable-disk-poll=true
enable-memory-poll=true
enable-net-poll=true
update-interval=1
