[General]
AutoTypeDelay=10
ConfigVersion=2
GlobalAutoTypeKey=86
GlobalAutoTypeModifiers=201326592
NumberOfRememberedLastDatabases=10

[Browser]
CustomProxyLocation=
Enabled=true

[GUI]
ColorPasswords=true
HideGroupPanel=false
HidePreviewPanel=false
MinimizeOnClose=false
MinimizeOnStartup=false
MinimizeToTray=true
ShowTrayIcon=true
ToolButtonStyle=0
TrayIconAppearance=monochrome-dark

[KeeShare]
Active="<?xml version=\"1.0\"?><KeeShare><Active/></KeeShare>\n"
{{/* Contains the KeeShare signing private key, can be regenerated. */ -}}
Own={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".KeeShare | .Own" "") }}
QuietSuccess=true

[PasswordGenerator]
AdditionalChars=
AdvancedMode=false
Braces=true
Dashes=true
EnsureEvery=false
ExcludeAlike=false
ExcludedChars=
Length=20
Logograms=true
LowerCase=true
Math=true
Punctuation=true
Quotes=true
SpecialChars=true
Type=0
UpperCase=true
WordCount=8

[Security]
ClearClipboard=false
EnableCopyOnDoubleClick=true
HideTotpPreviewPanel=true
IconDownloadFallback=true
LockDatabaseIdle=true
LockDatabaseIdleSeconds=300
