[%General]
DBFileExtensions=SQLite database files (*.db *.sqlite *.sqlite3 *.db3)
appStyle=0
fontsize=10
language=en_US
maxRecentFiles=20
promptsqltabsinnewproject=true
recentFileList={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".\"%General\" | .recentFileList" "") }}
toolbarStyle=4
toolbarStyleBrowse=4
toolbarStyleEditCell=0
toolbarStyleSql=4
toolbarStyleStructure=4

[MainWindow]
geometry={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".MainWindow | .geometry" "") }}
openTabs=structure browser pragmas query
windowState={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".MainWindow | .windowState" "") }}

[SQLLogDock]
Log=Application

[SchemaDock]
dropEnquotedNames=true
dropQualifiedNames=false
dropSelectQuery=true

[checkversion]
enabled=true

[databrowser]
bin_bg_colour=@Variant(\0\0\0\x43\x1\xff\xff\xff\xff\xff\xff\xff\xff\0\0)
bin_fg_colour=@Variant(\0\0\0\x43\x1\xff\xff\xc0\xc0\xc0\xc0\xc0\xc0\0\0)
blob_text=BLOB
complete_threshold=1000
filter_delay=200
filter_escape=\\
font=Hack
fontsize=10
formatted_bg_colour=@Variant(\0\0\0\x43\x1\xff\xff\xf7\xf7\xf7\xf7\xf7\xf7\0\0)
formatted_fg_colour=@Variant(\0\0\0\x43\x1\xff\xff##&&))\0\0)
image_preview=true
null_bg_colour=@Variant(\0\0\0\x43\x1\xff\xff\xff\xff\xff\xff\xff\xff\0\0)
null_fg_colour=@Variant(\0\0\0\x43\x1\xff\xff\xc0\xc0\xc0\xc0\xc0\xc0\0\0)
null_text=NULL
reg_bg_colour=@Variant(\0\0\0\x43\x1\xff\xff\xff\xff\xff\xff\xff\xff\0\0)
reg_fg_colour=@Variant(\0\0\0\x43\x1\xff\xff##&&))\0\0)
symbol_limit=5000

[db]
defaultencoding=UTF-8
defaultfieldtype=0
defaultlocation={{ .chezmoi.homeDir }}
defaultsqltext=
fontsize=10
foreignkeys=true
hideschemalinebreaks=true
prefetchsize=50000
savedefaultlocation=2

[editor]
auto_completion=true
close_button_on_tabs=true
error_indicators=true
font=Hack
fontsize=9
horizontal_tiling=false
identifier_quotes=0
indentation_use_tabs=true
splitter1_sizes=@Invalid()
splitter2_sizes=@Invalid()
tabsize=4
upper_keywords=true
wrap_lines=0

[extensions]
builtin=@Variant(\0\0\0\b\0\0\0\0)
disableregex=false
enable_load_extension=false
list=@Invalid()

[importcsv]
encoding=UTF-8
firstrowheader=false
localconventions=false
quotecharacter=@Variant(\0\0\0\a\0\")
separatetables=false
separator="@Variant(\0\0\0\a\0,)"
trimfields=true

[log]
fontsize=9

[proxy]
authentication=false
host=
password=
port=1
type=system
user=

[remote]
active=true
client_certificates=@Invalid()
clonedirectory={{ .chezmoi.homeDir }}/.local/share/sqlitebrowser/DB Browser for SQLite

[syntaxhighlighter]
background_bold=false
background_colour=#ffffff
background_italic=false
background_underline=false
comment_bold=false
comment_colour=#008000
comment_italic=false
comment_underline=false
currentline_bold=false
currentline_colour=#ececf5
currentline_italic=false
currentline_underline=false
foreground_bold=false
foreground_colour=#232629
foreground_italic=false
foreground_underline=false
function_bold=true
function_colour=#0000ff
function_italic=false
function_underline=false
highlight_bold=false
highlight_colour=#00ffff
highlight_italic=false
highlight_underline=false
identifier_bold=false
identifier_colour=#800080
identifier_italic=false
identifier_underline=false
keyword_bold=true
keyword_colour=#000080
keyword_italic=false
keyword_underline=false
selected_bg_bold=false
selected_bg_colour=#fe4c4c
selected_bg_italic=false
selected_bg_underline=false
selected_fg_bold=false
selected_fg_colour=#000000
selected_fg_italic=false
selected_fg_underline=false
string_bold=false
string_colour=#ff0000
string_italic=false
string_underline=false
table_bold=true
table_colour=#008080
table_italic=false
table_underline=false
