[connection]
id={{ .wifiSsid }}-IoT
type=wifi
autoconnect=false

[wifi]
mode=infrastructure
ssid={{ .wifiSsid }}-IoT

[wifi-security]
auth-alg=open
key-mgmt=wpa-psk
psk={{ .wifiPassword }}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
