[Source-applicationVersion]
dataSourceCommonSettings\activeState=true

[Source-platform]
dataSourceCommonSettings\activeState=true

[Source-qtVersion]
dataSourceCommonSettings\activeState=true

[Source-screens]
dataSourceCommonSettings\activeState=true

[Source-startCount]
dataSourceCommonSettings\activeState=true

[Source-usageTime]
dataSourceCommonSettings\activeState=true

[UserFeedback]
ApplicationStartCount={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".UserFeedback | .ApplicationStartCount" 0) }}
ApplicationTime={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".UserFeedback | .ApplicationTime" 0) }}
LastSubmission={{ template "ini-use-value-or-default" (list .chezmoi.targetFile ".UserFeedback | .LastSubmission" "") }}
StatisticsCollectionMode=DetailedSystemInformation
SurveyInterval=0
