## Base system

# TODO: Decide how automated this should be. This could potentially run setup commands like bootctl install, mkinitcpio -P, or locale-gen, for example. However, aconfmgr doesn't seem to be designed for this, and fully automating the Arch install process is not the goal here. It really depends on what the state of the system is at the time this is run.

# Base system packages
AddPackage base
AddPackage linux
AddPackage linux-firmware
AddPackage dosfstools
AddPackage e2fsprogs
AddPackage nano

# For AMD CPUs
AddPackage amd-ucode

# For BTRFS
AddPackage btrfs-progs

# Base system configuration
CopyFile /etc/fstab
CopyFile /etc/hostname
CopyFile /etc/locale.conf
CopyFile /etc/locale.gen
CreateLink /etc/localtime /usr/share/zoneinfo/America/New_York
CreateLink /etc/systemd/system/dbus-org.freedesktop.timesync1.service /usr/lib/systemd/system/systemd-timesyncd.service
CreateLink /etc/systemd/system/getty.target.wants/getty@tty1.service /usr/lib/systemd/system/getty@.service
# Automatically created by the standard Arch installation
CreateLink /etc/systemd/system/sockets.target.wants/systemd-userdbd.socket /usr/lib/systemd/system/systemd-userdbd.socket
CreateLink /etc/systemd/user/sockets.target.wants/p11-kit-server.socket /usr/lib/systemd/user/p11-kit-server.socket


## Users and sudo

# User configuration
CopyFile /etc/group
CopyFile /etc/gshadow
CopyFile /etc/passwd
CopyFile /etc/shadow
CopyFile /etc/subgid
CopyFile /etc/subuid

# Sudo setup
AddPackage sudo
CopyFile /etc/sudoers
CreateFile /var/db/sudo/lectured/1000 600 '' matthew > /dev/null


## Internet connection and Wi-Fi setup

# Network management packages
AddPackage networkmanager
AddPackage iwd
AddPackage wireless-regdb

# Network configuration
CopyFile /etc/NetworkManager/conf.d/use_iwd.conf
CopyFileTo /etc/NetworkManager/system-connections/2.4GHz.nmconnection /etc/NetworkManager/system-connections/{{ .wifiSsid }}-2.4GHz.nmconnection 600
CopyFileTo /etc/NetworkManager/system-connections/5GHz.nmconnection /etc/NetworkManager/system-connections/{{ .wifiSsid }}-5GHz.nmconnection 600
CopyFileTo /etc/NetworkManager/system-connections/6GHz.nmconnection /etc/NetworkManager/system-connections/{{ .wifiSsid }}-6GHz.nmconnection 600
CopyFileTo /etc/NetworkManager/system-connections/IoT.nmconnection /etc/NetworkManager/system-connections/{{ .wifiSsid }}-IoT.nmconnection 600
CopyFile /etc/conf.d/wireless-regdom
CreateDir /etc/iwd
CreateLink /etc/systemd/system/dbus-org.freedesktop.nm-dispatcher.service /usr/lib/systemd/system/NetworkManager-dispatcher.service
CreateLink /etc/systemd/system/multi-user.target.wants/NetworkManager.service /usr/lib/systemd/system/NetworkManager.service
CreateLink /etc/systemd/system/network-online.target.wants/NetworkManager-wait-online.service /usr/lib/systemd/system/NetworkManager-wait-online.service
# Prevent any conflicts with IWD
CreateLink /etc/systemd/system/wpa_supplicant.service /dev/null

# Systemd-resolved DNS configuration
CreateLink /etc/resolv.conf /run/systemd/resolve/stub-resolv.conf
CopyFile /etc/systemd/resolved.conf.d/dns-servers.conf
CopyFile /etc/systemd/resolved.conf.d/security.conf
CreateLink /etc/systemd/system/dbus-org.freedesktop.resolve1.service /usr/lib/systemd/system/systemd-resolved.service
CreateLink /etc/systemd/system/sysinit.target.wants/systemd-resolved.service /usr/lib/systemd/system/systemd-resolved.service


## Boot configuration

# Initramfs configuration
CopyFile /etc/mkinitcpio.conf
CopyFileTo /etc/mkinitcpio.d/linux.preset-uki-disabled /etc/mkinitcpio.d/linux.preset

# Boot splash screen setup
AddPackage plymouth
# TODO: also modifies /etc/mkinitramfs.conf, add a modification step here or switch to mkinitramfs.conf.d
CopyFile /etc/cmdline.d/splash-screen.conf
CopyFile /etc/systemd/system/systemd-vconsole-setup-after-plymouth.service
CreateLink /etc/systemd/system/plymouth-quit-wait.service.wants/systemd-vconsole-setup-after-plymouth.service /etc/systemd/system/systemd-vconsole-setup-after-plymouth.service

# Bootloader configuration
CreateDir /boot/EFI/Linux
CreateDir /boot/loader/keys
CopyFile /boot/loader/loader.conf 600
CopyFile /boot/loader/entries/arch-fallback.conf 600
CopyFile /boot/loader/entries/arch.conf 600
CopyFile /etc/pacman.d/hooks/95-systemd-boot-update.hook
CreateLink /etc/systemd/system/sysinit.target.wants/systemd-boot-update.service /usr/lib/systemd/system/systemd-boot-update.service
CopyFile /etc/systemd/system/systemd-boot-update.service.d/update-efi-variables.conf

# Extra boot tools: EFI shell and Memtest86+
AddPackage edk2-shell
AddPackage memtest86+-efi

# Configuration for extra tools
CopyFile /boot/loader/entries/memtest.conf 600
CopyFile /etc/pacman.d/hooks/95-efi-shell-copy.hook
CopyFile /etc/pacman.d/hooks/95-efi-shell-delete.hook


## Miscellaneous

# Pacman and makepkg configuration
CopyFile /etc/pacman.conf
CopyFile /etc/makepkg.conf
CopyFile /etc/makepkg.conf.d/rust.conf

# Offline documentation files
AddPackage man-db
AddPackage man-pages
AddPackage texinfo

# Time syncing
CreateLink /etc/systemd/system/sysinit.target.wants/systemd-timesyncd.service /usr/lib/systemd/system/systemd-timesyncd.service

# Font configuration
AddPackage terminus-font
CopyFile /etc/vconsole.conf
# Just default configs from fontconfig
CreateLink /etc/fonts/conf.d/10-hinting-slight.conf /usr/share/fontconfig/conf.default/10-hinting-slight.conf
CreateLink /etc/fonts/conf.d/10-scale-bitmap-fonts.conf /usr/share/fontconfig/conf.default/10-scale-bitmap-fonts.conf
CreateLink /etc/fonts/conf.d/10-sub-pixel-rgb.conf /usr/share/fontconfig/conf.default/10-sub-pixel-rgb.conf
CreateLink /etc/fonts/conf.d/10-yes-antialias.conf /usr/share/fontconfig/conf.default/10-yes-antialias.conf
CreateLink /etc/fonts/conf.d/11-lcdfilter-default.conf /usr/share/fontconfig/conf.default/11-lcdfilter-default.conf
CreateLink /etc/fonts/conf.d/20-unhint-small-vera.conf /usr/share/fontconfig/conf.default/20-unhint-small-vera.conf
CreateLink /etc/fonts/conf.d/30-metric-aliases.conf /usr/share/fontconfig/conf.default/30-metric-aliases.conf
CreateLink /etc/fonts/conf.d/40-nonlatin.conf /usr/share/fontconfig/conf.default/40-nonlatin.conf
CreateLink /etc/fonts/conf.d/45-generic.conf /usr/share/fontconfig/conf.default/45-generic.conf
CreateLink /etc/fonts/conf.d/45-latin.conf /usr/share/fontconfig/conf.default/45-latin.conf
CreateLink /etc/fonts/conf.d/48-spacing.conf /usr/share/fontconfig/conf.default/48-spacing.conf
CreateLink /etc/fonts/conf.d/49-sansserif.conf /usr/share/fontconfig/conf.default/49-sansserif.conf
CreateLink /etc/fonts/conf.d/50-user.conf /usr/share/fontconfig/conf.default/50-user.conf
CreateLink /etc/fonts/conf.d/51-local.conf /usr/share/fontconfig/conf.default/51-local.conf
CreateLink /etc/fonts/conf.d/60-generic.conf /usr/share/fontconfig/conf.default/60-generic.conf
CreateLink /etc/fonts/conf.d/60-latin.conf /usr/share/fontconfig/conf.default/60-latin.conf
CreateLink /etc/fonts/conf.d/65-fonts-persian.conf /usr/share/fontconfig/conf.default/65-fonts-persian.conf
CreateLink /etc/fonts/conf.d/65-nonlatin.conf /usr/share/fontconfig/conf.default/65-nonlatin.conf
CreateLink /etc/fonts/conf.d/69-unifont.conf /usr/share/fontconfig/conf.default/69-unifont.conf
CreateLink /etc/fonts/conf.d/75-yes-terminus.conf /usr/share/fontconfig/conf.default/75-yes-terminus.conf
CreateLink /etc/fonts/conf.d/80-delicious.conf /usr/share/fontconfig/conf.default/80-delicious.conf
CreateLink /etc/fonts/conf.d/90-synthetic.conf /usr/share/fontconfig/conf.default/90-synthetic.conf

# Config management
AddPackage chezmoi
AddPackage git
# TODO: aconfmgr seems to leave behind base-devel when installing AUR packages by itself. Manage this better.
AddPackage --foreign aconfmgr-git
