[Install{{ mozillaInstallHash "/usr/lib/firefox" }}]
Default=axn5gnby.default-release
Locked=1

[Profile0]
Name=default-release
IsRelative=1
Path=axn5gnby.default-release

[General]
StartWithLastProfile=1
Version=2
