<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xbel>
<xbel xmlns:bookmark="http://www.freedesktop.org/standards/desktop-bookmarks" xmlns:kdepriv="http://www.kde.org/kdepriv" xmlns:mime="http://www.freedesktop.org/standards/shared-mime-info">
 <info>
  <metadata owner="http://www.kde.org">
   <kde_places_version>4</kde_places_version>
   <GroupState-Places-IsHidden>false</GroupState-Places-IsHidden>
   <GroupState-Remote-IsHidden>false</GroupState-Remote-IsHidden>
   <GroupState-Devices-IsHidden>false</GroupState-Devices-IsHidden>
   <GroupState-RemovableDevices-IsHidden>false</GroupState-RemovableDevices-IsHidden>
   <GroupState-Tags-IsHidden>false</GroupState-Tags-IsHidden>
   <withRecentlyUsed>true</withRecentlyUsed>
   <GroupState-RecentlySaved-IsHidden>false</GroupState-RecentlySaved-IsHidden>
   <withBaloo>true</withBaloo>
   <GroupState-SearchFor-IsHidden>false</GroupState-SearchFor-IsHidden>
  </metadata>
 </info>
 <bookmark href="file:///home/matthew">
  <title>Home</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="user-home"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1750359017/0</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file:///home/matthew/Desktop">
  <title>Desktop</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="user-desktop"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1750359017/1</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="remote:/">
  <title>Network</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-network"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1750359017/4</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file:///home/matthew/Documents">
  <title>Documents</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-documents"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1750359017/2</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file:///home/matthew/Downloads">
  <title>Downloads</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-downloads"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1750359017/3</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file:///home/matthew/Music">
  <title>Music</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-music"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1750359017/6</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file:///home/matthew/Pictures">
  <title>Pictures</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-pictures"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1750359017/7</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file:///home/matthew/Videos">
  <title>Videos</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-videos"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1750359017/8</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file:///home/matthew/temp">
  <title>Temporary</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-temp"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1751584742/3</ID>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="trash:/">
  <title>Trash</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="user-trash"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1750359017/5</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="file:///">
  <title>Root</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-root"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1751584709/2</ID>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="recentlyused:/files">
  <title>Recent Files</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="document-open-recent"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1750359017/9</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <bookmark href="recentlyused:/locations">
  <title>Recent Locations</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="folder-open-recent"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>1750359017/10</ID>
    <isSystemItem>true</isSystemItem>
   </metadata>
  </info>
 </bookmark>
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/kde/fstab/fuse.sshfs/run/user/1000/56cad5d310f0496cb843b178a589913e</UDI>
    <isSystemItem>true</isSystemItem>
    <IsHidden>true</IsHidden>
   </metadata>
  </info>
 </separator>
 {{- /* Internal drives are necessarily going to be completely different between devices. */ -}}
 {{- if eq .chezmoi.hostname "matthew-desktop" }}
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/freedesktop/UDisks2/block_devices/dm_2d0</UDI>
    <isSystemItem>true</isSystemItem>
    <uuid>87a1ae23-f687-4f20-9747-ba1240c0febc</uuid>
   </metadata>
  </info>
 </separator>
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/freedesktop/UDisks2/block_devices/nvme1n1p1</UDI>
    <isSystemItem>true</isSystemItem>
    <uuid>78f0b1ed-1efd-44fb-993f-cbe4dd8146d4</uuid>
   </metadata>
  </info>
 </separator>
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/freedesktop/UDisks2/block_devices/nvme0n1p2</UDI>
    <isSystemItem>true</isSystemItem>
    <uuid>08140b28-cedb-404a-b9f7-96b3d877eed0</uuid>
   </metadata>
  </info>
 </separator>
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/freedesktop/UDisks2/block_devices/dm_2d1</UDI>
    <isSystemItem>true</isSystemItem>
    <uuid>fa3062ad-37b7-4852-9c23-f5c77b78c410</uuid>
   </metadata>
  </info>
 </separator>
 {{- else if eq .chezmoi.hostname "matthew-framework" }}
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/freedesktop/UDisks2/block_devices/dm_2d0</UDI>
    <isSystemItem>true</isSystemItem>
    <uuid>ce6a90da-e2f3-4610-aba7-3944441fbf76</uuid>
   </metadata>
  </info>
 </separator>
 <separator>
  <info>
   <metadata owner="http://www.kde.org">
    <UDI>/org/freedesktop/UDisks2/block_devices/nvme0n1p2</UDI>
    <isSystemItem>true</isSystemItem>
    <uuid>a71e4ec0-393a-4401-855e-999a297a9c7b</uuid>
   </metadata>
  </info>
 </separator>
 {{- end }}
 <bookmark href="kdeconnect://56cad5d310f0496cb843b178a589913e/">
  <title>MatthewsGalaxyS22</title>
  <info>
   <metadata owner="http://freedesktop.org">
    <bookmark:icon name="kdeconnect"/>
   </metadata>
   <metadata owner="http://www.kde.org">
    <ID>
     {{- /* This ID changes whenever the device is disconnected and reconnected. So, this is a hack (*not* parsing XML with regex) to find the current ID. */ -}}
     {{- if and (stat .chezmoi.targetFile) (include .chezmoi.targetFile | regexMatch "kdeconnect://56cad5d310f0496cb843b178a589913e/") -}}
         {{- /* The (?s: ...) modifier allows . to match newlines. */ -}}
         {{- include .chezmoi.targetFile | replaceAllRegex "(?s:(?:.*kdeconnect://56cad5d310f0496cb843b178a589913e/.*?<ID>)(.*?)(?:</ID>.*))" "${1}" -}}
     {{- else -}}
         1752002886/0
     {{- end -}}
    </ID>
   </metadata>
  </info>
 </bookmark>
</xbel>
