[Unit]
Description=Dump dconf state to user.ini for dotfile management

[Service]
Type=oneshot
ExecStart=/bin/sh -c "dconf dump / >\"$HOME/.config/dconf/user.ini\""
