root:!:20252::::::
bin:!*:20252::::::
daemon:!*:20252::::::
mail:!*:20252::::::
ftp:!*:20252::::::
http:!*:20252::::::
nobody:!*:20252:::::1:
dbus:!*:20252::::::
systemd-coredump:!*:20252:::::1:
systemd-network:!*:20252:::::1:
systemd-oom:!*:20252:::::1:
systemd-journal-remote:!*:20252:::::1:
systemd-resolve:!*:20252:::::1:
systemd-timesync:!*:20252:::::1:
tss:!*:20252::::::
uuidd:!*:20252:::::1:
alpm:!*:20252::::::
polkitd:!*:20252::::::
matthew:{{ .shadowPasswordHash }}:20253:0:99999:7:::
git:!*:20252::::::
avahi:!*:20255::::::
fwupd:!*:20255:::::1:
passim:!*:20255::::::
nvidia-persistenced:!*:20258:::::1:
rtkit:!*:20258::::::
sddm:!*:20258::::::
