[connection]
id={{ .wifiSsid }}-6GHz
type=wifi
autoconnect-priority=2

[wifi]
mode=infrastructure
ssid={{ .wifiSsid }}-6GHz

[wifi-security]
auth-alg=open
key-mgmt=wpa-psk
psk={{ .wifiPassword }}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
